GO_ENV=""

GOOGLE_API_KEY        = ""

# web client 
GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""


SPOTIFY_CLIENT_ID     = ""
SPOTIFY_CLIENT_SECRET = ""

DB_USER = ""
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=""


STRIPE_SECRET_KEY=""

SESSION_KEY = ""

PORT = ""

FRONTEND_BASE_URL=""

SPOTIFY_REDIRECT_URL = ""


# redis 
REDIS_URL=""
REDIS_PASSWORD=""
REDIS_HOST=""
REDIS_PORT=""

# valkey 
VALKEY_URL=""
VALKEY_PASSWORD=""


APP_DOMAIN = ""